#inhalt{
    overflow-y: scroll;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 28px;
    margin-bottom: 80px;
    border: 1px solid green;
    height: 90%;
}
#wrapper{
    padding: 0;
    width: 90%;
    height: 90%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    margin: auto;
    border: 1px solid blue;
    overflow: hidden;
    background: white;
    border-radius: 25px;

}
#navigation{
    border: 1px solid black;
    font-size: 500%;
    padding-right: 5px;
    float: left;
}
#navigation-liste{
    list-style-type: none;
    margin: 0; padding: 0;
}
#inhalt{   
    overflow-y: scroll;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 60px;
    border: 1px solid orangered;
    height: 90%;
}

#aussen-zelle{
    border: 1px solid yellowgreen;
    height: 140px;
    padding: 0;
}
#innere-zelle{
    border: 1px solid red;
    height: 100px;
    overflow: hidden;
    padding-left: 0;
    float: left;
}
#anzeige-button{
    float: right;
}
#suchfeld{
    top: 20px;
    right: 0;
    left: 0;
    position: absolute;
    margin: auto;
}
#dropdown-liste{
    float: right;
}
#kategorie-button{
    margin-top: 57px;
}

#inhalt-homeAnzeige{
   border: 1px solid royalblue;  
   border: 1px solid pink;
   overflow: hidden;
}
#head-inhalt-homeAnzeige{
    border: 1px solid red;
    float: left;
}
#body-inhalt-homeAnzeige{
    border: 1px solid green;  
    height: 90%;
    overflow: auto;
}
#kommentar-inhalt-homeAnzeige{
    border: 1px solid red;
    overflow-y: scroll;
    height: 50%;;
}
#kommentar-text{
    border:1px solid black;
    
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 2px;
  background: #fff;
  border-radius: 5px;
  width: 800px;
  height: 650px;
  position: relative;
  /*transition: all 5s ease-in-out;*/
}


body{
	background-image: url("../../data/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 100%;
  overflow: auto;
}
#popup-text{
 width: 90%;
 height: 90%;
 border:1px solid blue;
 overflow-y: scroll;
}
#auswahl-button{
    float: right;
}

